.c1{
    width: 60% !important;
    margin-top:2rem;
    margin-bottom: 2rem;
    text-align: center ;
    background-position: right 2rem center;
    overflow: hidden;
    background-image: url('../Images/csv-file-format-extension-pngrepo-com.png');
    background-repeat: no-repeat;
    background-size: 9rem;
    min-width: 500px;
}

.c2{
    margin: auto;
    width:65% !important;
    min-width: 500px !important;
    overflow: auto;
}

.box{
    font-family: cursive;
    padding: 2rem;
    margin: 2rem;
    text-align: left;
}

.success{
    color:green;
}
